h1 {
    color:purple;
    font-size: 100px;
    text-transform:uppercase;
}


h3{
color: aqua;
}
    .classselector{
        color:purple;
        font-size:50;
        font-family:italic;
        text-decoration:underline;

    }
    #header {
        color:blue;
        font-size:100;
    }
    h3{
        color: aqua;
        }

